.page {

    &__getintouch {
        background-color:  #F3F3F3;
        padding: 82px 0px 148px 0px;
    }
}

.getintouch {

    &__header {
        margin-bottom: 80px;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        flex: 0 1 31.2%;
        text-align: center;
        background-color: #fff;
        color:#252B42;
       
        &>*:not(:last-child){
            margin-bottom: 15px;
        }
        
    }
}




.item-getintouch {
    padding: 49px 15px;
    &_active {
        background-color: #000;
        padding: 79px 15px;
        color: #fff;
      .item-getintouch__button{
          color: inherit;
           border: 1px solid #Fff;
           &:hover{
               color: #FF7B47;
               border: 1px solid #FF7B47;
               background-color: #fff;
           }
      }
      
    }
    &__icon {
        //  padding-top: 49px;
    }

    &__emals {
        display: flex;
        flex-direction: column;
   
    }

    &__email {
        font-family: 'Montserrat-SemiBold';
        font-size: 14px;
        line-height: 171.429%;
        letter-spacing: 0.2px;
             color: inherit;
        &:hover{
          text-decoration: underline;
        }
    }

    &__label {
             color: inherit;
        font-family: 'Montserrat-Bold';
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
    }

    &__button {
        color:  #FF7B47;
        font-family: 'Montserrat-SemiBold';
        font-size: 14px;
        line-height: 171.429%;
        letter-spacing: 0.2px;
        border-radius: 5px;
        border: 1px solid  #FF7B47;
        padding: 10px 20px;
        display: inline-block;
       transition: all 0.5s ease 0s;
        &:hover{
            
            color: #FFf;
            background-color: #FF7B47;
        }
    }
}
@media(max-width:768px){
    .getintouch {

        &__items {
            display: block;
        }
        &__item {
            margin: 0 -15px;
    }
}
.item-getintouch {
    padding: 25px 15px;
}
}