.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.ibg {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.header {
padding-bottom: 192px;
position: relative;
    &__body {}
    &__background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
    }
}

.header-menu {
        margin: 0 0 116px 0;
    &__container{
max-width: 501px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 37px 0px 0px 0px;

}
    &__logo {
        span{
           font-family: 'Montserrat-Bold';
           font-size: 24px;
           line-height: 32/24*100%;
           letter-spacing: 0.1px;
       color: #000;

        }
    }

    &__menu {
        display: flex;
            font-family: 'Montserrat-SemiBold';
            font-size: 14px;
            line-height: 24/14*100%;
            letter-spacing: 0.2px;
            li:not(:last-child){
                margin: 0px 22px 0px 0px;
            }
    }

    &__link {
        color: #737373;
    }

    &__burger {
        display: none;
        position: relative;
        width: 30px;
        height: 20px;
        span{
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            top: 9px;
            &:first-child{
                top: 0px;
            }
            &:last-child {
                top: 100%;
            }
        }
    }
}
@media (max-width:680px){
    .header {
        padding-bottom: 112px;
        &__background {
            opacity: 0.6;
        }
    }
    .header-menu {
        &__container {
            padding: 20px 0px 0px 0px;
            max-width: 100%;
        }

        &__logo {
            position: relative;
            z-index: 11;
           
            span {
                font-size: 20px;
                line-height: 26px;
                 color: #000;
                transition: all 1s ease 0s;
            }
               &.active span{
                   color: #fff;
               }
        }

        &__menu {
            display: block;
position: fixed;
z-index: 10;
width: 100%;
height: 100%;
background-color: #0D5c63;
top: 0;
left: -120%;
padding: 57px 0 0 10px;
   font-size: 16px;
   line-height: 28px;
   transition: all 1s ease 0s;
&.active{
   left: 0;
   overflow: auto;
}
            li {
                margin: 0px 0px 20px 0px;

                &:last-child {
                    margin: 0px 0px 0px 0px;
                }
            }
        }

        &__link {
            color: #fff;
        }

        &__burger {
            display: block;
            position: relative;
            z-index: 11;
& span{
      transition: all 1.5s ease 0s;
}
       &.active span {
     background-color: #fff;
   transform: scale(0);
                &:first-child {
              transform: rotate(45deg);
              top: 8px;
                }

                &:last-child {
              transform: rotate(-45deg);
             top: 8px;
                }
            }
        }
    }
}
.header-content {

    &__title {
       font-family: 'Montserrat-ExtraBold';
      margin: 0px 0px 35px 0px;
      font-size: 58px;
      line-height: 80/58*100%;
      /* 137.931% */
      letter-spacing: 0.2px;
    }

    &__text {
        font-family: 'Montserrat-Medium';
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 36px;
        line-height: 30/20*100%;
        /* 150% */
        letter-spacing: 0.2px;
        color:#737373 ;
    }

    &__buttons {
        display: flex;
    }
}

.header-container {
    max-width: 400px;
}

.header-button {
    
}

.btn {
font-family: 'Montserrat-Bold';
padding: 9px 36px;
border-radius: 27px;
font-size: 14px;
line-height: 28/14*100%;
/* 200% */
letter-spacing: 0.2px;
   &_backg {
       background: #FF7B47;
       color: #fff;
     margin-right: 12px;
   }
   &_bor {
       border: 1px solid #0D5C63;
   }
}
@media (max-width: 680px){
    .header-content {

        &__title {
            margin: 0px 0px 25px 0px;
            font-size: 48px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 26px;
       color: #000000;
       font-weight: 600;
        }

           &__buttons {
              flex-direction: column;
           }
    }

    .header-container {
        max-width: 325px;
    }

    .header-button:not(:last-child) {
margin-bottom: 30px;
    }

    .btn {
        padding: 15px 36px;
text-align: center;
font-size: 17px;
        &_backg {
            background: #FF7B47;
            color: #fff;
            margin-right: 12px;
        }

        &_bor {
            border: 1px solid #0D5C63;
        }
    }
}

@media (max-width:540px) {
.header {
    padding-bottom: 65px;
}

.header-menu {
    margin: 0 0 66px 0;

    &__container {
        padding: 22px 0px 0px 0px;

    }
}

    .header-content {

        &__title {
            margin: 0px 0px 15px 0px;
            font-size: 38px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 20px;
        }

    }

    .header-container {
        max-width: 285px;
    }

    .header-button:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width:360px) {
    .header {
        padding-bottom: 35px;
    }

    .header-menu {
        margin: 0 0 38px 0;

        &__container {
            padding: 18px 0px 0px 0px;

        }
    }

    .header-content {

        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 18px;
        }

    }
    .header-container {
    }

    .header-button:not(:last-child) {
        margin-bottom: 25px;
    }
}
@media (max-width:960px){
.header__background{
opacity: 0.8;
}
.header-menu {
    &__link{
        color: #242222;
    }
}
.header-content {
    &__text{
        color: #242222;
    }
}
}