@import '_nullStyle';

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.eot);
    src: url(../fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Montserrat-Regular.otf) format('otf'),
        url(../fonts/Montserrat-Regular.svg#Montserrat-Regular) format('svg'),
        url(../fonts/Montserrat-Regular.ttf) format('truetype'),
        url(../fonts/Montserrat-Regular.woff) format('woff'),
        url(../fonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.eot);
    src: url(../fonts/Montserrat-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Montserrat-Medium.otf) format('otf'),
        url(../fonts/Montserrat-Medium.svg#Montserrat-Medium) format('svg'),
        url(../fonts/Montserrat-Medium.ttf) format('truetype'),
        url(../fonts/Montserrat-Medium.woff) format('woff'),
        url(../fonts/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body{
    
}
body.lock{
overflow: hidden;
}
.wrapper{
min-height: 100%;
overflow: hidden;
}
.container {
    max-width: 1066px;
    margin: 0 auto;
    padding: 0px 10px;   
}


@import '_header';

@import '_services';

@import '_advantages';

@import '_practice';

@import '_whoweare';

@import '_clients';

@import '_subscribe';

@import '_getintouch';